/* --- Headers --- */

.sti-h-long {
	font-size: 21pt;
	color: #ffffff;
	margin-left: 6px;
	margin-top: 2px;
	padding-top: 11px;
	padding-bottom: 13px;
	text-align: center;
	background: URL('images/title-970.png') no-repeat;
}

.sti-h-tables {
	font-size: 14pt;
	font-weight: bold;
	color: #6697ce;
	text-align: left;
}

.sti-h-stories {
	font-size: 17.5pt;
	font-weight: bold;
	color: #346e9b;
}

.sti-h-size1 {
	text-decoration: none;
	font-size: 10pt;
	font-weight: bold;
	color: #42638d;
	text-align: justify;
}

.sti-h-size2 {
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	color: #42638d;
	text-align: justify;
}

.sti-h-size3 {
	text-decoration: none;
	font-size: 12pt;
	font-weight: bold;
	color: #42638d;
	text-align: justify;
}

.sti-h-size4 {
	text-decoration: none;
	font-size: 20pt;
	font-weight: bold;
	color: #42638d;
	text-align: justify;
}

.sti-h-size4:link {
	text-decoration: none;
	color: #42638d;
}

.sti-h-size4:visited {
	text-decoration: none;
	color: #42638d;
}

.sti-h-size4:hover {
	text-decoration: none;
	color: #42638d;
}


/* --- Text Blocks --- */

.sti-text-size1 {
	text-decoration: none;
	font-size: 10pt;
	color: #2c4f7c;
	text-align: left;
}

.sti-text-size2 {
	text-decoration: none;
	font-size: 11pt;
	color: #2c4f7c;
	text-align: left;
}

.sti-text-size2 ul {
	margin-left: 40px;
}

.sti-text-size2 li {
	text-align: left;
}

.sti-text-size2 img {
	text-align: center;
}

.sti-text-size3 {
	text-decoration: none;
	font-size: 12pt;
	color: #2c4f7c;
	text-align: left;
}

.sti-text-size4 {
	text-decoration: none;
	font-size: 14pt;
	color: #6680a0;
	text-align: left;
}

.sti-text-size4:link {
	text-decoration: none;
	color: #6680a0;
}

.sti-text-size4:visited {
	text-decoration: none;
	color: #6680a0;
}

.sti-text-size4:hover {
	text-decoration: none;
	color: #6680a0;
}

.sti-text-info {
	margin-left: 1px;
	font-size: 7.5pt;
	color: #6080ab;
	font-weight: normal;
	text-align: left;
}

.sti-text-info-red {
	margin-left: 1px;
	font-size: 7.5pt;
	color: red;
	font-weight: normal;
	text-align: left;
}

.sti-text-footer {
	text-decoration: none;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 8pt;
	color: #00345f;
}

.sti-text-copyright {
	font-family: Arial;
	font-size: 7.5pt;
	text-decoration: none;
	color: white;
	text-align: center;
}


/* --- Links --- */

.sti-link-size1 {
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	color: #fe5500;
	cursor: pointer;
}

.sti-link-size1:link {
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	color: #fe5500;
}

.sti-link-size1:visited {
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	color: #fe5500;
}

.sti-link-size1:hover {
	text-decoration: underline;
	font-weight: bold;
	font-size: 10pt;
	color: #fe5500;
}

.sti-link-size2 {
	text-decoration: none;
	font-weight: bold;
	font-size: 11pt;
	color: #fe5500;
	cursor: pointer;
}

.sti-link-size2:link {
	text-decoration: none;
	font-weight: bold;
	font-size: 11pt;
	color: #fe5500;
}

.sti-link-size2:visited {
	text-decoration: none;
	font-weight: bold;
	font-size: 11pt;
	color: #fe5500;
}

.sti-link-size2:hover {
	text-decoration: underline;
	font-weight: bold;
	font-size: 11pt;
	color: #fe5500;
}

.sti-link-footer {
	text-decoration: none;
	font-size: 8pt;
	letter-spacing: normal;
	font-family: Arial;
	font-weight: normal;
	color: #00345f;
	text-align: justify;
}

.sti-link-footer:link {
	text-decoration: none;
	color: #00345f;
}

.sti-link-footer:visited {
	text-decoration: none;
	color: #00345f;
}

.sti-link-footer:hover {
	text-decoration: none;
	color: #ffffff;
}

.sti-link-copyright {
	font-family: Arial;
	font-size: 7.5pt;
	text-decoration: none;
	color: white;
	text-align: center;
}

.sti-link-copyright:link {
	text-decoration: none;
	color: #ffffff;
}

.sti-link-copyright:visited {
	text-decoration: none;
	color: #ffffff;
}

.sti-link-copyright:hover {
	text-decoration: underline;
	color: #ffffff;
}

.sti-a-size1 {
	text-decoration: none;
	font-size: 10pt;
	color: #2c4f7c;
	text-align: justify;
	border: 0px solid #c0d0e0;
	display: block;
	padding: 6px;
	background: transparent;
	cursor: pointer;
}

.sti-a-size1:link {
	text-decoration: none;
	color: #2c4f7c;
}
.sti-a-size1:visited {
	text-decoration: none;
	color: #2c4f7c;
}
.sti-a-size1:hover {
	text-decoration: none;
	color: #2c4f7c;
	border-width: 1px;
	padding: 5px;
	background: #e0e8f0;
}

.sti-a-size2 {
	text-decoration: none;
	font-size: 11pt;
	color: #2c4f7c;
	text-align: justify;
	border: 0px solid #c0d0e0;
	display: block;
	padding: 6px;
	background: transparent;
	cursor: pointer;
}

.sti-a-size2:link {
	text-decoration: none;
	color: #2c4f7c;
}

.sti-a-size2:visited {
	text-decoration: none;
	color: #2c4f7c;
}

.sti-a-size2:hover {
	text-decoration: none;
	color: #2c4f7c;
	border-width: 1px;
	padding: 5px;
	background: #e0e8f0;
}


/* --- Tables --- */

.sti-table-images {
	width: 100%;
	border: 0px;
}

.sti-table-images td {
	text-align: center;
}

.sti-table-files {
	border-style: solid;
	border-color: #9acef5;
	border-width: 0px 1px 1px 0px;
}

.sti-table-files td {
	border-style: solid;
	border-color: #9acef5;
	border-width: 1px 0px 0px 1px;
	padding: 5px;
}

.sti-table-faq {
	border: 1px dotted black;
	background-color: #f0f0f0;
	margin-left: 25px;
}

.sti-table-faq td {
	padding: 8px;
	color: green;
	font-size: 10pt;
}

.sti-table-video {
	width: 100%;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #6697ce;
}

.sti-table-video td {
	white-space: nowrap;
}


/* --- Image Buttons --- */

.sti-image-button {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.sti-image-button-products {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}