<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DentiNovin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\DataBase\MNMDenti.mdb"/>-->
    <!--<add key ="ReportSourceString" value="|DataDirectory|"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="DentiNovin.Properties.Settings.MNMDentiDBServerConnectionString"
      connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=sa;Initial Catalog=MNMDentiDB;Data Source=."
      providerName="System.Data.SqlClient" />
    <add name="DentiNovin.Properties.Settings.MNMDentiDBConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\MNMDentiDB.mdf;Integrated Security=True;User Instance=True; connect timeout=60"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <DentiNovin.Properties.Settings>
      <setting name="NumberingSystem" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowPersianName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendSMS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConditionColor" serializeAs="String">
        <value>Maroon</value>
      </setting>
      <setting name="PlannedColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="CompletedColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="ToolBoxViewMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ToolTapCaptions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Preventive/ Diagnostic</string>
            <string>Restorative/ Pedo</string>
            <string>Fixed/ Remove Prosth</string>
            <string>Endo/ Perio/ Surgery</string>
            <string>Conditions</string>
            <string>Common Services</string>
            <string>Other Services</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="KhKCoeff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KhMedCenterCode" serializeAs="String">
        <value />
      </setting>
      <setting name="FileType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CodingType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisketteFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="CDDriverName" serializeAs="String">
        <value />
      </setting>
      <setting name="PeriodSMS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SMSText" serializeAs="String">
        <value />
      </setting>
      <setting name="CopyToCD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MoKCoeff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MoMedCenterCode" serializeAs="String">
        <value />
      </setting>
      <setting name="KhVisitPriceGeneral" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MoVisitPriceGeneral" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KhVisitOrganPercent" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="MoVisitOrganPercent" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="KhOrganPercent" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="MoOrganPercent" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="KhVisitPriceSpecialist" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MoVisitPriceSpecialist" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MedCenterName" serializeAs="String">
        <value />
      </setting>
      <setting name="IsMedCenter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MultiColorDrawing" serializeAs="String">
        <value>True</value>
      </setting>
    </DentiNovin.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
